<%- include('partials/header') %>
    <div class="jumbotron row text-center ">
        this is the test page
    </div>
    <div class="ui form">
        <div class="field">
            <label>User Input</label>
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="Book name" name="book_name">
                </div>
                <div class="form-group">
                    <button type="submit" class="ui inverted green button">Search</button>
                </div>
            </form>
        </div>
    </div>
<%- include('partials/footer')%>    